<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Notas</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>EDITAR UN ESTUDIANTE</h1>
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/update/<%= data.id %>" method="post">
                            <div class="form-group">
                                <input type="text" name="nombre" value="<%= data.nombre %>" class="form=control">
                            </div><br>
                            <div class="form-group">
                                <input type="text" name="cedula" value="<%= data.cedula %>" class="form=control">
                            </div><br>
                            <div class="form-group">
                                <input type="text" name="edad" value="<%= data.edad %>" class="form=control">
                            </div><br>
                            <div class="form-group">
                                <input type="text" name="sexo" value="<%= data.sexo %>" class="form=control">
                            </div><br>
                            <button type="submit" class="btn btn-primary">
                                Editar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</body>
</html>